<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        h1{
            font-family:cursive;
        }
        .container-fluid{
            background-image: url("https://tse3.mm.bing.net/th?id=OIP.nx1M4UoJQmV06-ZaIrawDQHaFw&pid=Api&P=0&w=193&h=151");
            background-repeat: no-repeat;
            background-size:100%;
        height:100px;
        width:100%;
        }
        .container{
            
            font-size: 20px;
            font-family: cursive;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">

        <h1 class="display-4 text-center">ABOUT US </h1>
    </div>
  
    <div class="jumbotron">
    <div class="container bg-light p-5">
        <i class="fa fa-bug mb-3" style="color:black;font-size:40px;" aria-hidden="true"></i> 
        <h3 class="text-primary">Our Goal</h3>
        <p> Innove is a StartUp that focus on graduates and who are in search of job. We provide a platform for the studenrs we there can excel themselves in a real world.  </p>
    </div>
    </div>
   <div class="jumbotron ">
    <div class="container bg-light p-4 ">
        <i class="fa fa-bug mb-3" style="color:red;font-size:40px;" aria-hidden="true"></i> 
        <h3 class="text-primary">Our Culture</h3>
        <p> We consider all Students as one family and respect their ideas and inputs to grow the company. Innove cares about your need for Job and struggles were you are facing.</p>
    </div>
    </div>
    <div class="jumbotron ">
        <div class="container bg-light p-4 ">
            <i class="fa fa-bug mb-3" style="color:black;font-size:40px;" aria-hidden="true"></i> 
            <h3 class="text-primary">Our Learning</h3>
            <p> We care for your learning by conducting demo programs and showing path for the students i.e., either by free resource training programs and paid one. </p>
        </div>
        </div>
    <div class="jumbotron ">
        <div class="container bg-light p-4 ">
            <i class="fa fa-bug mb-3" style="color:red;font-size:40px;" aria-hidden="true"></i> 
            <h3 class="text-primary">Our Success</h3>
            <p> In Innove ,success is shared with all students who strive to make things possible. What brings us actual success means Students feedback after getting placed. </p>
        </div>

   </div>
