
<div class="container-fluid">
    
    <h1 class="display-4 text-center">Courses</h1>
        
    <p id="about"style="text-align:center;">In order to upgrade the student skills and communication , here Innove is showing the best platforms ,all over world were you can utilize these free websites and start your learning process.</p>
 
</div>
<div class="container mt-5">
            <div class="row">
                <div class="col">
          <div class="card shadow p-5 mb-5 bg-white rounded" style="width:18rem;">
              <img src="https://tse1.mm.bing.net/th?id=OIP.EiiTK5t6rkF9rTe9HKxhZwHaEU&pid=Api&rs=1&c=1&qlt=95&w=191&h=111" alt="" class="card-img-top" height="170px">
             
              </div>
              </div>
          <div class="col">
            <div class="card shadow p-5 mb-5 bg-white rounded" style="width:18rem;">

            <img src="https://tse4.mm.bing.net/th?id=OIP.M1PMH5tJ6SZf_h3-aQnJVwAAAA&pid=Api&P=0&w=300&h=300" alt=""  class="card-img-top" height="170px">
            
        </div>
        </div>
        <div class="col">
            <div class="card shadow p-5 mb-5 bg-white rounded" style="width:18rem;">

            <img src="https://tse3.mm.bing.net/th?id=OIP.dx0KINgC7kxwgQXEW9Ga7gAAAA&pid=Api&P=0&w=300&h=300" alt=""  class="card-img-top" height="170px">
             
        </div>
        </div>
       
    </div>
    
        <!--2container-->
        <div class="container mt-5">
            <div class="row">
        <div class="col">
            <div class="card shadow p-5 mb-5 bg-white rounded" style="width:18rem;">

          <img src="https://tse4.mm.bing.net/th?id=OIP.0kX2N9HcnAUDj1bGr-CdGwHaEN&pid=Api&P=0&w=285&h=163" alt="" class="card-img-top" height="170px">
         
          </div>
          </div>
      <div class="col">
        <div class="card shadow p-5 mb-5 bg-white rounded" style="width:18rem;">

        <img src=" https://tse2.mm.bing.net/th?id=OIP.gUE_gAzcPQBkAP_H0OyrPAHaD4&pid=Api&P=0&w=304&h=160" alt=""  class="card-img-top" height="170px">
        
    </div>
    </div>
    <div class="col">
        <div class="card shadow p-5 mb-5 bg-white rounded" style="width:18rem;">

        <img src="https://tse1.mm.bing.net/th?id=OIP.PmMY_1eeQpj4Zq039k4ergHaEJ&pid=Api&P=0&w=268&h=151 " alt=""  class="card-img-top" height="170px">
            
    </div>
    </div>
    
    </div>

   


 
    
   