<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #warning{
            text-align: center;
            border:2px solid red;
            border-radius: 27px;
        }
    </style>
  
</head>
<body>
    <div class="jumbotron text-center">
        <div class="container">
            <h2 style="color: royalblue; font-family: Arial, Helvetica, sans-serif ;">Top Ten website for Job Search</h2>
            <p>Those sites are very helpful for jobseekers</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Website Name</th>
                  <th>Website Link</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <tr style="background-color:rgb(192, 247, 247);">
                  <td>Naukri</td>
                  <td><a href="https://www.naukri.com/" target="_blank">https://www.naukri.com/</a></td>
                </tr>      
                <tr class="table-primary">
                  <td>Indeed</td>
                  <td><a href="https://in.indeed.com/" target="_blank">https://in.indeed.com/</a></td>
                </tr>
                <tr class="table-success">
                  <td>Linkedln</td>
                  <td><a href="https://www.linkedin.com/" target="_blank">https://www.linkedin.com/</a></td>
                </tr>
                <tr class="table-danger">
                  <td>JobBait</td>
                  <td><a href="https://www.careerbuilder.com/jobs-bait" target="_blank">https://www.careerbuilder.com/jobs-bait</a></td>
        
                </tr>
                <tr class="table-info">
                  <td>Monster</td>
                  <td><a href="https://www.monsterindia.com/" target="_blank">https://www.monsterindia.com/</a></td>
        
                </tr>
                <tr class="table-warning">
                  <td>Careercloud</td>
                  <td><a href="https://www.careercloud.com/" target="_blank">https://www.careercloud.com/</a></td>
                </tr>
                <tr class="table-active">
                  <td>Dice</td>
                  <td><a href="https://www.dice.com/" target="_blank">https://www.dice.com/</a></td>
        
                </tr>
                <tr class="table-secondary">
                  <td>Jibberjobber</td>
                  <td><a href="https://www.jibberjobber.com/" target="_blank">https://www.jibberjobber.com/</a></td>
                </tr>
                <tr class="table-warning">
                  <td>Glassdoor</td>
                  <td><a href="https://www.glassdoor.co.in/" target="_blank">https://www.glassdoor.co.in/</a></td>
                </tr>
                <tr class="table-success">
                  <td>Apna</td>
                  <td><a href="https://apna.co/" target="_blank">https://apna.co/</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        </div>
        <div class="container-fluid">
            <p id="warning" style="font-family: cursive;font-size: 25px;">Open those sites an Register yourself and fill the required fields for profile.</p>
        </div>
    
    <div class="jumbotron text-center">
        <div class="container">
            <h2 style="color: royalblue; font-family: Arial, Helvetica, sans-serif ;">Current Openings</h2>
            <p>Apply soon else link will close</p>
            <table class="table">
              <thead>
                  <tr class="table-success">

                  <th>Website Name</th>
                  <th>Website Link</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sasken Technologies Ltd.</td>
                  <td><a href="https://www.naukri.com/job-listings-opening-for-fresher-engineers-sasken-technologies-ltd-bangalore-sasken-technologies-ltd-bangalore-bengaluru-0-to-0-years-280521004626?src=sharedjd&utmCampaign=pwajd&utmSource=share" target="_blank">click here</a></td>
                </tr> 
                <tr>  
                  <td>IBM</td>
                  <td><a href="http://bit.ly/IBM-Off-Campus-Drive-2021" target="_blank">Click here</a></td>
                </tr>
                <tr>
                  <td> IMS HEALTH ANALYTICS SERVICES</td>
                  <td><a href="https://www.naukri.com/job-listings-software-developer-ims-health-analytics-services-private-limited-bangalore-bengaluru-0-to-0-years-020621001770?src=sharedjd&utmCampaign=pwajd&utmSource=share" target="_blank">click here</a></td>
                </tr>
                <tr>
                  <td>Quality Specialist- LMAQ in Amazon</td>
                  <td><a href="https://www.amazon.jobs/en/job_categories" target="_blank">click here</a></td>
                </tr>
                <tr>

                  <td>Brillio Technologies Freshers Recruitment</td>
                  <td><a href="https://bit.ly/3qWD1GA" target="_blank">click here</a></td>
        
                </tr>
                <tr>

                  <td>Atos Freshers Recruitment </td>
                  <td><a href="https://bit.ly/3gp6M0S" target="_blank">click here</a></td>
                </tr>
                <tr>

                  <td>Ray Business Technologies Recruitment </td>
                  <td><a href=" https://bit.ly/3cVsPKZ" target="_blank">click here</a></td>
        
                </tr>
                <tr>

                  <td> Thomson thomson-reuters-recruitment-</td>
                  <td><a href="https://fresheropeningsm/thomson-reuters-recruitment-3/" target="_blank">click here</a></td>
                </tr>
                <tr>

                  <td>Helwet</td>
                  <td><a href="https://www.fresherscamp.com/hewlett-packard-hp-recruitment/" target="_blank">click here</a></td>
                </tr>
                
              </tbody>
            </table>
        </div>
    </div>
</body>
</html>
